@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-12" >
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <h1 style="color:white">About Us</h1>
            </div>
            <div class="row">
                <p style="color:white">
                    Here at Olde Worlde Phunne we strive to produce the best games possible for you. We want to show the world that games can be fun, 
                    balanced and be suitable for people of all skill levels which is why we have been working on our best game yet. We have been using
                    Unreal Engine 5 to innovate the new wave of games and go past the boundries previously thought to have been impossible to pass.
                </p>
                <p style="color:white">
                    We are a new, up and comping game development company that was founded in 2018 with the goal of becoming one of the titans in the
                    gaming industry (in a good way). We already have some popular games such as 'Into the Night' a horror game for all the thrill seekers 
                    out there, and 'No Mans Land' a gruesome action game based during the WW2 period.
                </p>
                <p style="color:white">
                    We are also working on our own game launching software similar to the likes of Steam, this is to create the best all in one game storage 
                    and playing software on the market.
                    If you like the sound of all this please support us and help us acheive these goals.
                </p>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"">
            <div class="panel" style="border: 1px solid white; padding-left:15px;">
                <div class="row">
                    <h1 style="color:white">Our Titles</h1>
                </div>
                <div class="row">
                    <p style="color:white">This is a list of our game titles, feel free to check them out!</p>
                </div>
                <div class="row" style="font-size:18px">
                    <p style="color:white">Into The Night</p>
                </div>
                <div class="row" style="font-size:18px">
                    <p style="color:white">No Mans Land</p>
                </div>
                <div class="row" style="font-size:18px">
                    <p style="color:white">Fly High</p>
                </div>
                <div class="row" style="font-size:18px">
                    <p style="color:white">Wheel To Wheel</p>
                </div>
            </div>
        </div>
    </div>
</div>

