@page
@model Maze_Game_Project.Pages.MazeGameModel
@{
    ViewData["Title"] = "Maze Game";
}
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color:white"> This is a simple maze game where you have x minutes to move your character from the start to the finish. 
    If you run out of time you will be set back to the beginning where you can try again. You move the character using the ?? keys.
    When you are ready to start just press the start button.</p>

    C:\Users\EthanTowers\source\repos\Maze Game Project\Maze Game Project.sln
    