@page
@model Maze_Game_Project.Pages.MazeGameModel
@{
    ViewData["Title"] = "Maze Game";
}
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color:white">Hi, welocme to our new page on the website meant for a little fun. Below is a download link to the git repository which contains the maze game in the folder titled 'Maze Game' 
    you can download it from there and give it a go.In this maze game you have to move through from the green square to the red square to win. You move the dark blue square using the arrow keys.
    If you hit any of the black boxes that act as the wall you will be sent back to the starting position where you can try again.
</p>

<a href="https://github.com/Ethan-Towers/Maze-Game-Project.git">Download</a>
    